<form (ngSubmit)="updateEmp()">
    <table>
        <div>
            <label for="name">name</label>
            <input id="name" [(ngModel)]=emp.name placeholder="name">
        </div>
        <div>
            <label for="id">id</label>
            <input id="id" [(ngModel)]=emp.id placeholder="id">
        </div>
        <div>
            <label for="city">city</label>
            <input id="city" [(ngModel)]=emp.city placeholder="city">
        </div>
        <button type="submit" >submit</button>
    </table>
</form>
