<form (ngSubmit)="search(id)" >
    <table>
        <div>
            <label for="id">id</label>
            <input type="number" name="id" value="id" placeholder="id" [(ngModel)]=id>
            <button type="submit" value="submit" placeholder="click" >submit</button>
        </div>
    </table>
</form>

<table>
    <thead><tr>
        <th>id</th>
        <th>name</th>
        <th>city</th>
        </tr>
</thead>

<tbody>
    <tr>
        <td>{{emp.id}}</td>
        <td>{{emp.name}}</td>
        <td>{{emp.city}}</td>
    </tr>

</tbody>

</table>
