<form (ngSubmit)="saveEmp()">
    <table>
        <div>
            <label for="name">name</label>
            <input type="text" name="name" value="name" [(ngModel)]=emp.id placeholder="name">
        </div>
        <div>
            <label for="id">id</label>
            <input type="number" name="id" value="id"   [(ngModel)]=emp.id placeholder="id">
         </div>
         <div>
             <label for="city">city</label>
             <input type="text" name="city" value="city" [(ngModel)]=emp.city placeholder="city" >
         </div>
         <button type="submit" >AddEmployee</button>
    </table>
</form>