<form >
    <table class="card1">
        <div>
            <label for="name">name</label>
            <input  name="name"  [(ngModel)]=emp.name placeholder="name">
        </div>
        <div>
            <label for="id">id</label>
            <input name="id"    [(ngModel)]=emp.id placeholder="id">
         </div>
         <div>
             <label for="city">city</label>
             <input  name="city"  [(ngModel)]=emp.city placeholder="city" >
         </div>
         <button type="submit" (click)="saveEmp()" >AddEmployee</button>
    </table>
</form>